  {{#each this}}

    <div class="projectSmall-container">
      <a class="mdl-navigation__link" href="./projects/{{slug}}.html">
        <div class=" zoom project-card mdl-card mdl-shadow--2dp">
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">{{title}}</h2>
          </div>
          <div class="mdl-card__supporting-text">
            {{short_abstract}}
          </div>
          <div class="mdl-card__actions mdl-card--border ">


            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-icon">person</i>
              {{ authors.[0] }}
            </span>

            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-icon">calendar_today</i>
              {{ year }}
            </span>


            </ul>
          </div>


        </div>
      </a>

    </div>
  {{/each}}
