<div class="projectSmall-container">
  <a class="mdl-navigation__link" href="{{slug}}.html">
    <div class="zoom project-card mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title" style="background: url('projects/{{slug}}/screen.png') center / cover;">
      </div>

      <div class="mdl-card__supporting-text">
        <h2 class="mdl-card__title-text">{{title}}</h2>
        {{short_abstract}}
      </div>

      <div class="mdl-card__actions mdl-card--border ">

        <span class="mdl-list__item-primary-content" style="flex:2; padding:3px">
          <i class="material-icons mdl-list__item-icon">person</i>
          {{ authors.[0] }}
        </span>

        <span class="mdl-list__item-primary-content" style="flex:1; padding: 3px">
          <i class="material-icons mdl-list__item-icon">calendar_today</i>
          {{ year }}
        </span>

      </div>


    </div>
  </a>

</div>
